---
  import Button from "./Button.astro";
  import { IndexData } from "../types/types";

  interface Props extends IndexData {}

  const { image, title, description, footer, button, bgColor, color, border, invertir } =
    Astro.props;
---

<div class={`w-full h-fit flex flex-col md:items-center ${bgColor} ${color} ${invertir ? 'md:flex-row-reverse' : 'md:flex-row'}`}>
  <figure class="md:w-1/2 md:my-10 lg:my-0">
    <img src={image.source} alt={image.alt} />
  </figure>
  <div class="w-full h-full px-8 py-6 flex justify-center items-center md:w-1/2">
    <div class="w-full text-center h-max">
      {title && <h2 class="font-xl font-bold mb-5 uppercase">{title}</h2>}
      <p class="text-base font-normal mb-5">{description}</p>
      {footer && <h3 class="text-base font-normal mb-6">{footer}</h3>}
      {
        button && (
          <Button button={button} border={border} color={color} />
        )
      }
    </div>
  </div>
</div>
